* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    background: rgb(61, 34, 108);
    background: radial-gradient(circle,rgba(61, 34, 108, 1) 0%, rgba(101, 9, 121, 1)
    35%, rgba(50, 226, 244, 1) 100%);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conts2 {
    width: 450px;
    height: 280px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-10%, 40%);
    text-align: center;
    justify-content: center;
    align-items: center;
}

input[type="number"] {
    width: 45%;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 30px;
}
input[type="email"] {
    width: 45%;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}
.submit {
    width: 25%;
    height: 40px;
    opacity: 0.5;
    text-align: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 15px;
    margin-top: 25px;
    padding: 10px 15px;
    cursor: pointer;
}
.submit1 {
    width: 25%;
    height: 40px;
    text-align: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 15px;
    margin-top: 25px;
    padding: 10px 15px;
    background-color: rgb(53, 53, 255);
    opacity: 0.5;
    cursor: pointer;
}
.submit:hover {
    opacity: 1;
    color: #fff;
    background: red;
} 
.submit1:hover {
    opacity: 1;
    color: #fff;
} 
a {
    text-decoration: none;
}
p {
    margin-top: 20px;
}
.text2 {
    margin-top: 10px;
    padding: 7px 15px;
    text-align: left;
}